html {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.15;
  background-color: white;
  text-size-adjust: 100%;
}
html {
  display: block;
}
body {
  font-family: Helvetica, sans-serif;
  line-height: 1.4em;
  margin: 0px;
  display: block;
}
.company {
  background-color: black;
  color: white;
}
div {
  display: block;
}
.company .container {
  display: flex;
  align-items: center;
  padding: 12px 0px 12px 0.5em;
}
.container {
  max-width: 960px;
  margin: 0px auto;
}
.company img {
  height: 1.5em;
  padding-right: 15px;
}
img {
  border-style: none;
}
.main-banner {
  height: 25em;
  background: url('../Pictures/moto.jpeg') center center / cover no-repeat;
  background-repeat: no-repeat;
  background-position: center center;
}
.headline {
  background-color: black;
  color: white;
  width: 20em;
  position: relative;
  top: 9em;
  padding: 2em 3em;
}
h4 {
  display: block;
  -webkit-margin-before: 1.33em;
  -webkit-margin-after: 1.33em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
h1, h4 {
  font-weight: bold;
}
.headline h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0.25em 0px;
}
h1 {
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
nav {
  background-color: firebrick;
  color: white;
}
article, aside, footer, header, nav, section {
  display: block;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0px;
  list-style: none;
}
ul, menu, dir {
  -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.mobile-nav {
  display: none;
}
.products, .business-info {
  display: flex;
  justify-content: space-between;
  margin: 3em 0px 0px;
}
.product {
  width: 30%;
}
.product-image {
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 4px;
  border-style: solid;
  border-color: black;
  border-image: initial;
  padding: 2em 0px;
}
.product-image {
  max-width: 8em;
}
.description {
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  padding: 0.5em;
}
.product-image img {
  max-width: 8em;
}
.info {
  width: 35%;
}
.info .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1em 2em;
}
footer {
  background-color: black;
  color: white;
  margin-top: 4em;
  padding: 5em 0px;
}
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 470px) {
  
}
